<div class="content">
  <h1 class="contact__title title">О компании</h1>
  <div class="content__box" style="font-family: 'Georgia';">
    <p>
      <b>⭐Компания "Кубкиград"</b><br>
      специализируется на продаже наградной и сувенирной продукции в <br>
      Санкт-Петербурге и Ленинградской области и по Всей РФ. <br>
    </p>
    <p>
      В ассортименте огромный выбор кубков, медалей, призов, грамот, сувениров <br>
      из оргстекла, плакеток и много другой наградной продукции для любого <br>
      мероприятия на Ваш выбор. <br>
    </p>
    <b>⭐Выбирая нас, Вы выбираете качество которым останетесь довольны.</b>
    <br><br><br>
    <ul>
      <li>Индивидуальный подход к каждому клиенту.</li>
      <li>Быстрые сроки выполнения заказа</li>
      <li>Помощь с дизайном табличек и другой персонализацией абсолютно бесплатно</li>
      <li>Система скидок постоянным клиентам</li>
      <li>У нас нет минимального заказа</li>
    </ul>
  </div>
</div>
