<div class="content">
  <h1 class="contact__title title">Контакты</h1>
  <div class="content__box">
    <p> г. Санкт-Петербург, пр.Маршала-Новикова, д.41, к.1, БЦ Эврика , офис 110</p>

    <p>График работы офиса</p>

    <p>Пн-Пт с 10:00 до 18:00</p>

    <p>Заказы через сайт принимаются круглосуточно!</p>

    <p>
      <span style="color: rgb(0,0,0);font-size: 10pt;">Звоните нам по телефону:</span>
      <a style="color: rgb(184,49,47);font-size: 18px; font-weight: 700;" href="tel:+79216488632">+7(921)6488632</a>
    </p>

    <p>
      <a style="color: rgb(65,168,95);font-family: georgia; font-weight: 700;" href="+79216488632">+79216488632</a>
      <a style="color: rgb(0,0,0);font-family: georgia; text-decoration: underline;" href="https://www.whatsapp.com/"
        target="_blank">WhatsAp</a>
    </p>

    <p>Email: <a style="color: rgb(184,49,47);font-family: georgia; font-weight: 700;"
        href="mailto:info@kubkigrad.ru">info@kubkigrad.ru</a></p>

    <p style="text-decoration: underline;">Реквизиты:</p>

    <p>ИП Гулиев Максим Шукур оглы</p>

    <p>Расчётный счёт: 40802810155000011040</p>

    <p>Банк: СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК</p>

    <p>БИК: 044030653</p>

    <p>Кор. Cчёт: 30101810500000000653</p>

    <p>ОГРН: 318784700094164</p>

    <p>ИНН: 292501240151</p>

    <p>КПП: —</p>
  </div>
</div>
