.accordion {
  // .accordion__title

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0.8rem 0.5rem;
    border-radius: 6px;
    color: var(--color-text);
    font-weight: 500;
    font-size: 1rem;
    transition: background 0.3s ease, color 0.3s ease;
    svg {
      fill: var(--color-dark-blue);
      transition: transform 0.3s ease;
    }
    &.active {
      color: var(--color-dark-blue);
      font-weight: bold;
      background: var(--c-general-background-3);
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  // .accordion__content

  &__content {
    display: none;
    .price {
      display: inline-flex;
      align-items: center;
      margin: 0.8rem 0;
    }
    .price-input {
      width: 50%;
      outline: none;
      margin: 0;
      font-family: inherit;
      font-weight: 500;
      font-size: 1rem;
      color: var(--color-text);
      background: transparent;
      padding: 0.5rem;
      border: none;
      background: var(--c-general-background-1);
      border: 1px var(--c-general-background-3) solid;
      &:last-child {
        border-left: 0;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
      }
      &:first-child {
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
      }
      &::placeholder {
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
      }

      &_min {
      }
    }
  }
}
