.catalog-popup {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    padding: 0px 1rem;
    background-color: rgb(255, 255, 255);
    margin: -0.5rem auto 0px;
    width: 100%;
    max-width: var(--app-width);
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 4px 24px);
    border-radius: 16px;
    transition: 0.3s ease;
    &.active {
        display: block;
    }
    &.fix-head {
        top: 122px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        max-height: calc(100vh - 200px);
    }
    &__nav {
        padding: 1rem;
        padding-left: 0;
        flex: none;
        border-right: 1px solid var(--c-general-background-3);
        overflow-y: scroll;
        &_wrapper {
            width: 16rem;
        }
        &-elem {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 6px;
            transition: 0.3s ease;
            padding: 0.75rem 0.5rem;
            font-weight: bold;
            &.active {
                background: var(--color-primary);
                fill: var(--color-primary-text);
                color: var(--color-primary-text);
            }
            div {
                max-width: 208px;
                display: flex;
                align-items: center;
            }
        }
        &-child {
            padding: 1rem 2rem;
            width: 100%;
            height: fit-content;
            &-block {
                display: none;
                &.active {
                    display: block;
                }
                h3 {
                    margin: 0;
                    font-size: 1.5em;
                    font-weight: bold;
                    margin-block-end: 0.83em;
                }
                &-elems {
                    display: flex;
                    justify-content: space-between;
                }
                &-elem {
                    display: inline-flex;
                    flex-direction: column;
                    padding-right: 1rem;
                    flex: 1;
                    a {
                        display: inline-block;
                        margin-bottom: 1.5rem;
                        font-weight: bold;
                        transition: 0.3s ease;
                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                    .small-nav {
                        margin-bottom: 0;
                        padding: 0.2rem 0;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
.shadow-block {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    &.active {
        display: block;
    }
    &.active2 {
        display: block;
        z-index: 5;
    }
}
