<div class="content">
  <h1 class="contact__title title">Условия обмена и возврата</h1>
  <div class="content__box">
    <p>
      Наш интернет-магазин работает в строгом соответствии с Законом «О защите прав потребителей».
    </p>

    <p>
      Согласно ст. 25 Закона «О защите прав потребителей», вы можете вернуть или обменять товар надлежащего качества,
      приобретённый в розничном магазине, в течение 14 дней, не считая дня покупки.
    </p>

    <p>
      Согласно ст. 26.1 Закона «О защите прав потребителей», вы вправе вернуть любой товар, приобретённый в
      интернет-магазине, в течение семи дней после получения товара без указания причин возврата.
    </p>

    <p>
      Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские
      свойства, а также документ, подтверждающий факт и условия покупки указанного товара. Отсутствие у потребителя
      документа, подтверждающего факт и условия покупки товара, не лишает его возможности ссылаться на другие
      доказательства приобретения товара у данного продавца.
    </p>

    <p>
      Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства,
      если указанный товар может быть использован исключительно приобретающим его потребителем (прим.: если товар
      изготовлен на заказ).
    </p>

    <p>
      При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по
      договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через
      десять дней со дня предъявления потребителем соответствующего требования.
    </p>
  </div>
</div>
