<div class="product__blocks">
  <div class="product__block product__block_left">
    <div class="product__block-wrap">
      <a class="product__block-title" href="/index.html">Каталог</a>
      <ul class="product__items">
        <li class="product__item">
          <a href="/index.html" class="product__sub-title active">
            <div class="product__item-text">Кубки</div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
          <ul class="product__list">
            <li class="product__li">
              <a href="/index.html" class="product__link">Кубки классической формы</a>
            </li>
            <li class="product__li">
              <a href="/index.html" class="product__link">Кубки из металлизированного пластика</a>
            </li>
            <li class="product__li">
              <a href="/index.html" class="product__link">Кубки стекло, хрусталь</a>
            </li>
            <li class="product__li">
              <a href="/index.html" class="product__link">Кубки с оригинальными элементами</a>
            </li>
            <li class="product__li">
              <a href="/index.html" class="product__link">Кубки престижные</a>
            </li>
            <li class="product__li">
              <a href="/index.html" class="product__link">Кубки многоуровневые</a>
            </li>
            <li class="product__li">
              <a href="/index.html" class="product__link">Кубки с символикой РФ</a>
            </li>
            <li class="product__li">
              <a href="/index.html" class="product__link">Комплекты кубков</a>
            </li>
            <li class="product__li">
              <a href="/index.html" class="product__link active">Крышки для кубков</a>
            </li>
          </ul>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title">
            <div class="product__item-text">
              Медали
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title">
            <div class="product__item-text">
              Призы
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title">
            <div class="product__item-text">
              Фигуры и основания
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title">
            <div class="product__item-text">
              Награды и призы из акрила
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title without-arrow">
            <div class="product__item-text">
              Награды и призы из стекла , металла и дерева
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title">
            <div class="product__item-text">
              Плакетки
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title without-arrow">
            <div class="product__item-text">
              Тарелки
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title">
            <div class="product__item-text">
              Дипломы и грамоты
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title">
            <div class="product__item-text">
              Вымпелы и розетки
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title">
            <div class="product__item-text">
              Значки
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title">
            <div class="product__item-text">
              Вкладыши для кубков и медалей
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title without-arrow">
            <div class="product__item-text">
              Персонализация
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title">
            <div class="product__item-text">
              Сувениры
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
        <li class="product__item">
          <a href="/index.html" class="product__sub-title">
            <div class="product__item-text">
              Классификационные книжки и разрядные знаки
            </div>
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="product__block product__block_right">
    <div class="product__content">
      <div class="product__images">
        <div class="product__img">
          <button class="btn_love btn_favorite product__btn-favorite">
            <svg viewBox="0 0 25 24" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12.261 20.8538C10.0904 19.5179 8.07111 17.9456 6.23929 16.1652C4.95144 14.8829 3.97101 13.3198 3.3731 11.5954C2.29714 8.25031 3.55393 4.42083 7.07112 3.28752C8.91961 2.69243 10.9384 3.03255 12.4961 4.20148C14.0543 3.03398 16.0725 2.69398 17.9211 3.28752C21.4383 4.42083 22.7041 8.25031 21.6281 11.5954C21.0302 13.3198 20.0498 14.8829 18.7619 16.1652C16.9301 17.9456 14.9108 19.5179 12.7402 20.8538L12.5051 21L12.261 20.8538Z"
                stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
          <img src="img/product/cup/pic-2.jpg" alt="" srcset="">
        </div>
        <div class="product__thumbs">
          <button class="product__thumb" type="button">
            <div class="product__thumb-img">
              <img src="img/product/cup/pic-2.jpg" alt="" srcset="">
            </div>
          </button>
          <button class="product__thumb" type="button">
            <div class="product__thumb-img">
              <img src="img/product/cup/pic-1.jpg" alt="" srcset="">
            </div>
          </button>
        </div>
      </div>
      <div class="product__info">
        <div class="product__title">KR2</div>
        <div class="product__price">94 — 1 447 руб.</div>
        <div class="product__sub-descr">Высота</div>
        <ul class="product__points">
          <li class="product__point"><button class="product__btn" type="button">100 мм</button></li>
          <li class="product__point"><button class="product__btn" type="button">120 мм</button></li>
          <li class="product__point"><button class="product__btn" type="button">160 мм</button></li>
          <li class="product__point"><button class="product__btn" type="button">180 мм</button></li>
          <li class="product__point"><button class="product__btn" type="button">200 мм</button></li>
          <li class="product__point"><button class="product__btn" type="button">220 мм</button></li>
          <li class="product__point"><button class="product__btn" type="button">240 мм</button></li>
          <li class="product__point"><button class="product__btn" type="button">260 мм</button></li>
          <li class="product__point"><button class="product__btn" type="button">80 мм</button></li>
        </ul>
        <div class="product__sub-descr">Количество</div>
        <div class="increment">
          <button class="increment__btn increment__minus" type="button" value="-"></button>
          <input class="increment__count" type="text" maxlength="12" value="1" />
          <button class="increment__btn increment__plus" type="button" value="-"></button>
        </div>
        <div class="product__buttons">
          <button class="product__button btn btn_green">В корзину</button>
          <button class="product__button btn btn_more">Купить сейчас</button>
        </div>
      </div>
    </div>
    <div class="product__description">
      <div class="product__description-head">
        <button class="product__description-btn" type="button">Описание</button>
      </div>
      <div class="product__description-content">
        <p>Крышка металлическая на кубок цвет серебро.</p>
      </div>
    </div>
  </div>
</div>
