<div class="category__blocks">
  <div class="category__block category__block_left">
    <div class="category__filters">
      <div class="category__wrap">
        <div class="category__block-title">Кубки</div>
        <ul class="category__items">
          <li class="category__item">
            <a class="category__link" href="/">Кубки классической формы</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="/">Кубки из металлизированного пластика</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="/">Кубки с символикой РФ</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="/">Кубки классической формы</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="/">Кубки из металлизированного пластика</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="/">Кубки с символикой РФ</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="/">Кубки классической формы</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="/">Кубки из металлизированного пластика</a>
          </li>
          <li class="category__item">
            <a class="category__link" href="/">Кубки с символикой РФ</a>
          </li>
        </ul>
      </div>
      <div class="category__wrap">
        <div class="accordion">
          <button class="accordion__title" type="button">Цена
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </button>
          <div class="accordion__content">
            <div class="price">
              <input class="price-input price-input_min" placeholder="От 94" type="text">
              <input class="price-input price-input_max" placeholder="До 37 448" type="text">
            </div>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__title" type="button">Высота
            <svg viewBox="0 0 16 16">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.2928 4.29297L14.7071 5.70718L7.99995 12.4143L1.29285 5.70718L2.70706 4.29297L7.99995 9.58586L13.2928 4.29297Z">
              </path>
            </svg>
          </button>
          <div class="accordion__content">
            <ul class="checkbox-list">
              <li class="checkbox-list__item">
                <div class="custom-checkbox">
                  <input class="custom-checkbox__input" type="checkbox" id="10cm">
                  <label class="custom-checkbox__label" for="10cm">
                    <span class="custom-checkbox__description">10см</span>
                  </label>
                </div>
              </li>
              <li class="checkbox-list__item">
                <div class="custom-checkbox">
                  <input class="custom-checkbox__input" type="checkbox" id="11cm">
                  <label class="custom-checkbox__label" for="11cm">
                    <span class="custom-checkbox__description">11см</span>
                  </label>
                </div>
              </li>
              <li class="checkbox-list__item">
                <div class="custom-checkbox">
                  <input class="custom-checkbox__input" type="checkbox" id="12cm">
                  <label class="custom-checkbox__label" for="12cm">
                    <span class="custom-checkbox__description">12см</span>
                  </label>
                </div>
              </li>
              <li class="checkbox-list__item">
                <div class="custom-checkbox">
                  <input class="custom-checkbox__input" type="checkbox" id="13cm">
                  <label class="custom-checkbox__label" for="13cm">
                    <span class="custom-checkbox__description">13см</span>
                  </label>
                </div>
              </li>
              <li class="checkbox-list__item">
                <div class="custom-checkbox">
                  <input class="custom-checkbox__input" type="checkbox" id="14cm">
                  <label class="custom-checkbox__label" for="14cm">
                    <span class="custom-checkbox__description">14см</span>
                  </label>
                </div>
              </li>
              <li class="checkbox-list__item">
                <div class="custom-checkbox">
                  <input class="custom-checkbox__input" type="checkbox" id="15cm">
                  <label class="custom-checkbox__label" for="15cm">
                    <span class="custom-checkbox__description">15см</span>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="category__block category__block_right">
    <div class="grid-switcher block">
      <div class="grid-switcher__item card-cat">
        <div class="grid-switcher__box">
          <a class="grid-switcher__img" href="/product.html">
            <img src="img/catalog/all/pic-4.png" alt="">
          </a>
          <div class="grid-switcher__content">
            <div class="grid-switcher__info">
              <div class="grid-switcher__wrap">
                <a class="grid-switcher__title" href="#">AB#Z102-G</a>
                <p class="grid-switcher__description">Высота</p>
                <div class="grid-switcher__options">
                  <button class="grid-switcher__option">
                    8 см
                  </button>
                </div>
              </div>
              <div class="grid-switcher__price">
                162 руб.
              </div>
            </div>
            <div class="grid-switcher__buttons">
              <div class="switcher__buttons-left">
                <button class="btn btn_card-all" type="button" aria-label="добавить товар в корзину">
                  В корзину
                </button>
                <button class="btn btn_love btn_favorite" type="button" aria-label="добавить в избранное">
                  <svg viewBox="0 0 25 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M12.261 20.8538C10.0904 19.5179 8.07111 17.9456 6.23929 16.1652C4.95144 14.8829 3.97101 13.3198 3.3731 11.5954C2.29714 8.25031 3.55393 4.42083 7.07112 3.28752C8.91961 2.69243 10.9384 3.03255 12.4961 4.20148C14.0543 3.03398 16.0725 2.69398 17.9211 3.28752C21.4383 4.42083 22.7041 8.25031 21.6281 11.5954C21.0302 13.3198 20.0498 14.8829 18.7619 16.1652C16.9301 17.9456 14.9108 19.5179 12.7402 20.8538L12.5051 21L12.261 20.8538Z"
                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <a class="grid-switcher__content-link" href="/product.html"></a>
      </div>
    </div>
  </div>
</div>
