<footer class="footer">
	<div class="wrapper">
		<div class="footer__content">
			<div class="footer__nav footer__nav-top">
				<a href="/about.html">О КОМПАНИИ</a>
				<span>|</span>
				<a href="/contact.html">КОНТАКТЫ</a>
				<span>|</span>
				<a href="/delivery.html">ДОСТАВКА</a>
				<span>|</span>
				<a href="/payment.html">ОПЛАТА</a>
			</div>
			<div class="footer__nav footer__nav-bottom">
				<a href="/kak-oformit-zakaz.html">Как оформить заказ</a>
				<span></span>
				<a href="/payback.html">Условия обмена и возврата</a>
			</div>
		</div>
	</div>
</footer>
