<div class="popup purchase__popup mfp-hide" id="purchase-order-popup">
  <div class="popup__wrapper">
    <h4 class="sub-title">Выберите способ доставки</h4>
    <div class="popup__box free">
      <div class="popup__box-title">Самовывоз</div>
      <div class="popup__box-descr"><span>Бесплатная доставка</span></div>
    </div>
    <div class="popup__box commercial">
      <div class="popup__box-title">Доставка в пункт выдачи СДЭК по Санкт-Петербургу</div>
      <div class="popup__box-descr"><span>Доставка: 450 руб.</span> При заказе от 15 000 руб. — бесплатно </div>
    </div>
    <div class="popup__box free">
      <div class="popup__box-title">Доставка в регионы</div>
      <div class="popup__box-descr"><span>Бесплатная доставка</span> При заказе от 30 000 руб. — бесплатно </div>
      <div class="popup__box-descr">Зависит от региона доставки</div>
    </div>
    <div class="popup__box commercial">
      <div class="popup__box-title">Доставка Ленинградская область</div>
      <div class="popup__box-descr"><span>Доставка: 850 руб.</span> При заказе от 30 000 руб. — бесплатно </div>
    </div>
  </div>
</div>
