<div class="catalog">
  <div class="wrapper">
    <h2 class="catalog__title title title_solo">Каталог</h2>
    <div class="catalog__content grid">
      <a class="catalog__card card-cat" href="category.html">
        <div class="card-cat__img">
          <img src="img/catalog/kubki/1.jpg" alt="">
        </div>
        <h3 class="card-cat__title">Кубки</h3>
      </a>
      <a class="catalog__card card-cat" href="category.html">
        <div class="card-cat__img">
          <img src="img/catalog/serteficats/serteficat.png" alt="">
        </div>
        <h3 class="card-cat__title">Плакетки</h3>
      </a>
      <a class="catalog__card card-cat" href="category.html">
        <div class="card-cat__img">
          <img src="img/catalog/serteficats/serteficat.png" alt="">
        </div>
        <h3 class="card-cat__title">Плакетки</h3>
      </a>
      <a class="catalog__card card-cat" href="category.html">
        <div class="card-cat__img">
          <img src="img/catalog/kubki/1.jpg" alt="">
        </div>
        <h3 class="card-cat__title">Кубки</h3>
      </a>
      <a class="catalog__card card-cat" href="category.html">
        <div class="card-cat__img">
          <img src="img/catalog/kubki/1.jpg" alt="">
        </div>
        <h3 class="card-cat__title">Кубки</h3>
      </a>
      <a class="catalog__card card-cat" href="#">
        <div class="card-cat__img">
          <img src="img/catalog/kubki/1.jpg" alt="">
        </div>
        <h3 class="card-cat__title">Кубки</h3>
      </a>
      <a class="catalog__card card-cat" href="#">
        <div class="card-cat__img">
          <img src="img/catalog/serteficats/serteficat.png" alt="">
        </div>
        <h3 class="card-cat__title">Плакетки</h3>
      </a>
      <a class="catalog__card card-cat" href="#">
        <div class="card-cat__img">
          <img src="img/catalog/serteficats/serteficat.png" alt="">
        </div>
        <h3 class="card-cat__title">Плакетки</h3>
      </a>
      <a class="catalog__card card-cat" href="#">
        <div class="card-cat__img">
          <img src="img/catalog/kubki/1.jpg" alt="">
        </div>
        <h3 class="card-cat__title">Кубки</h3>
      </a>
      <a class="catalog__card card-cat" href="#">
        <div class="card-cat__img">
          <img src="img/catalog/kubki/1.jpg" alt="">
        </div>
        <h3 class="card-cat__title">Кубки</h3>
      </a>
      <a class="catalog__card card-cat" href="#">
        <div class="card-cat__img">
          <img src="img/catalog/kubki/1.jpg" alt="">
        </div>
        <h3 class="card-cat__title">Кубки</h3>
      </a>
      <a class="catalog__card card-cat" href="#">
        <div class="card-cat__img">
          <img src="img/catalog/serteficats/serteficat.png" alt="">
        </div>
        <h3 class="card-cat__title">Плакетки</h3>
      </a>
      <a class="catalog__card card-cat" href="#">
        <div class="card-cat__img">
          <img src="img/catalog/serteficats/serteficat.png" alt="">
        </div>
        <h3 class="card-cat__title">Плакетки</h3>
      </a>
      <a class="catalog__card card-cat" href="#">
        <div class="card-cat__img">
          <img src="img/catalog/kubki/1.jpg" alt="">
        </div>
        <h3 class="card-cat__title">Кубки</h3>
      </a>
      <a class="catalog__card card-cat" href="#">
        <div class="card-cat__img">
          <img src="img/catalog/kubki/1.jpg" alt="">
        </div>
        <h3 class="card-cat__title">Кубки</h3>
      </a>
    </div>
  </div>
</div>
