<div class="content">
  <h1 class="contact__title title">Как оформить заказ</h1>
  <div class="content__box">
    <ul>
      <li>
        <p>
          Выбрать понравившейся товар в корзину ( если требуется добавить текст, его нужно указать в комментарии к
          заказу). После того, как все товары уже будут выбраны перейдите в корзину в правом верхнем углу. Далее
          нажимаете
          на кнопку «Оформить заказ». Заполняете поля формы «Имя», «E-mail» и «Телефон». Выбираете способ оплаты и
          доставки.
          На указанный e-mail адрес придет информация о заказе, после чего мы свяжемся с вами в ближайшее время.
        </p>
      </li>
      <li>
        <p>Вы можете сделать заказ просто написав нам его на почту info@kubkigrad.ru</p>
      </li>
      <li>
        <p>По телефону указанному в шапке сайта.</p>
      </li>
      <li>
        <p>
          <span style="color: rgb(65,168,95);font-size: 16px;font-family: Georgia; font-weight: 700;">WhatsApp</span>
          <span style="color: rgb(0,0,0);font-size: 16px;font-family: Georgia; font-weight: 700;">+79216488632</span>
          в удобной для Вас форме.
        </p>
      </li>
    </ul>




  </div>
</div>
