<div class="favorites__wrap">
  <div class="favorites__filter">
    <button class="favorites__filter-btn btn_filter">Крышки для кубков</button>
    <button class="favorites__filter-btn btn_filter">Футляры для медалей</button>
  </div>
  <div class="grid-switcher block">
    <div class="grid-switcher__item card-cat">
      <div class="grid-switcher__box">
        <a class="grid-switcher__img" href="#">
          <img src="img/catalog/all/1.jpg" alt="">
        </a>
        <div class="grid-switcher__content">
          <div class="grid-switcher__info">
            <div class="grid-switcher__wrap">
              <a class="grid-switcher__title" href="#">AB#Z102-G</a>
              <p class="grid-switcher__description">Высота</p>
              <div class="grid-switcher__options">
                <button class="grid-switcher__option">
                  8 см
                </button>
              </div>
            </div>
            <div class="grid-switcher__price">
              162 руб.
            </div>
          </div>
          <div class="grid-switcher__buttons">
            <div class="switcher__buttons-left">
              <button class="btn btn_card-all" type="button" aria-label="добавить товар в корзину">
                В корзину
              </button>
              <button class="btn btn_love btn_favorite" type="button" aria-label="добавить в избранное">
                <svg viewBox="0 0 25 24" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M12.261 20.8538C10.0904 19.5179 8.07111 17.9456 6.23929 16.1652C4.95144 14.8829 3.97101 13.3198 3.3731 11.5954C2.29714 8.25031 3.55393 4.42083 7.07112 3.28752C8.91961 2.69243 10.9384 3.03255 12.4961 4.20148C14.0543 3.03398 16.0725 2.69398 17.9211 3.28752C21.4383 4.42083 22.7041 8.25031 21.6281 11.5954C21.0302 13.3198 20.0498 14.8829 18.7619 16.1652C16.9301 17.9456 14.9108 19.5179 12.7402 20.8538L12.5051 21L12.261 20.8538Z"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <a class="grid-switcher__content-link" href=""></a>
    </div>
  </div>
</div>
